# Target
CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y
CONFIG_TARGET_x86_64_Generic=y
CONFIG_TARGET_ROOTFS_TARGZ=y
CONFIG_TARGET_ROOTFS_SQUASHFS=y
CONFIG_TARGET_KERNEL_PARTSIZE=64
CONFIG_TARGET_ROOTFS_PARTSIZE=960
CONFIG_TARGET_IMAGES_GZIP=y
CONFIG_GRUB_IMAGES=Y
CONFIG_GRUB_EFI_IMAGES=Y
CONFIG_GRUB_CONSOLE=y
CONFIG_EFI_IMAGES=y
CONFIG_QCOW2_IMAGES=y
CONFIG_VDI_IMAGES=y
CONFIG_VHD_IMAGES=y
CONFIG_VMDK_IMAGES=y
